#titulo{
font-size: 2px;     
}
h1{ 
    font-family: "Rubik Moonrocks", sans-serif;
}
 .fondo{
background-image: url(../WEB-ROBERTO/fondo\ pizza2.jpg)
    
 }
 
#tra{
    text-align: center;
}
#email{
    background-color: rgba(194, 0, 0, 0.555);
    border-color: black;
}

#contraseña{
    background-color: rgba(194, 0, 0, 0.555);
    border-color: black;
}

#local{
    position: relative;
    bottom: 400px;
    float: right;
}